[Desktop Entry]
Type=Application
Name=Callsign Roll Log
Name[zh_CN]=Callsign Roll Log
Comment=Amateur radio net logging and collaboration client
Exec=/opt/openlogtool/openlogtool
Icon=openlogtool
Terminal=false
Categories=Utility;HamRadio;
StartupWMClass=com.mazha0309.openlogtool
